<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	
</head>

<body>
	<main id="app">

		<section class="background-login" v-show="loginhide">
			<form class="row">
			<h2>Do you wanna chat? Just login!</h2>
			<label class="hidden" for="First Name">Your First Name: </label>
			<input v-model="fname" type="text" id="fname" class="fname" placeholder="What is your first name?" required>
			<label class="hidden" for="Last Name">Your Last Name: </label>
			<input v-model="lname" type="text" id="lname" class="lname" placeholder="What is your last name?" required>
			<div class="btn">
			<button v-if="!donotdisplay" @click.prevent="loginUser" class="submit loginU" type="submit">Login</button>
			</div>
		    </form>
		</section> 
			
		<section class="form-container" v-show="donotdisplay">
			
			<label for="nickname">Your Nickname: </label>
			<input v-model="fname"  type="text" id="nickname" class="nickname" placeholder="What is your nickname?">

			<form>
				<label for="message">Message: </label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<button @click.prevent="dispatchMessage" class="submit transitionm" type="submit">Submit</button>
			</form>
		</section>

		<section class="messages" v-show="donotdisplay">
			<div class="sign-out">
				<button @click.prevent="logoutUser">Logout</button>
			</div>
			<ul id="messages">
				    <join  v-for="fname in join" :fnm="fname"></join>
					<newmessage v-for="message in messages" :msg="message"></newmessage>
					
					
			</ul>
			
		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>